# Dependencies
node_modules/
dist/
build/

# Environment Variables (IMPORTANT: Do not push your API Keys!)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/
.DS_Store

# DB data (if any)
*.db
*.sqlite
